@import url(reset.css);

:root {
  /* PRIMARY */
  --text-primary: hsl(238, 29%, 16%);
  --text-primary-hover: hsl(14, 88%, 65%);
  --gradient-1: hsl(273, 75%, 66%);
  --gradient-2: hsl(240, 73%, 65%);
  --linear-gradient: linear-gradient(
    to bottom,
    var(--gradient-1) 20%,
    var(--gradient-2)
  );
  /* NEUTRAL */
  --text-neutral: hsl(237, 12%, 33%);
  --text-neutral-2: hsl(240, 6%, 50%);
  --divider: hsl(240, 5%, 91%);
}

@font-face {
  font-family: "Kumbh Sans";
  src: url(../assets/fonts/KumbhSans-Regular.ttf);
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url(../assets/fonts/KumbhSans-Bold.ttf);
  font-display: swap;
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  min-height: 100vh;
  font-size: 75%;
  background: var(--linear-gradient);
  background-repeat: no-repeat;
  padding: 5em 2em;
  font-family: "Kumbh Sans";
}

.main-container {
  margin-block-start: 5em;
}

main {
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  min-height: 42.5em;
  background-image: url(../assets/images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.illustrated-image-container {
  position: absolute;
  height: fit-content;
  top: -110px;
}

section {
  padding: 3.6em 1.5em;
  display: grid;
  gap: 1em;
  height: fit-content;
  margin-top: 7em;
}

section h1 {
  text-align: center;
  font-weight: 700;
  font-size: clamp(2.6em, 1vw, 3.2em);
}

.accordion {
  border-bottom: solid 1px var(--divider);
  padding-block: 1.2em;
  display: grid;
  gap: 0.8em;
}

.accordion h2 {
  font-size: clamp(1.1em, 1vw, 2.5em);
  font-weight: 400;
  color: var(--text-neutral);
}

.accordion .accordion-button {
  text-align: start;
  width: 100%;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-button:focus {
  outline: var(--text-primary-hover) dashed 2px;
}

.accordion-button img {
  display: inline;
}

.accordion .accordion-panel {
  padding-inline: 0.5em 2em;
}

.accordion-panel p {
  font-size: clamp(1em, 0.5vw, 2em);
  color: var(--text-neutral-2);
}

.attribution {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: clamp(1.1em, 0.5vw, 2em);
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
  outline: white dashed 2px;
}

@media (min-width: 900px) {
  .main-container {
    margin: 0;
  }
  main {
    flex-direction: row;
    background-image: url(../assets/images/bg-pattern-desktop.svg);
    background-position: -45em -22em;
    background-size: 100%;
    max-width: 76.8em;
    position: relative;
  }
  .illustrated-image-container {
    position: relative;
    top: 0;
    overflow: clip;
    width: 50em;
  }
  .illustrated-image {
    position: relative;
    left: -55px;
    width: 100%;
    height: auto;
  }
  main::after {
    content: url(../assets/images/illustration-box-desktop.svg);
    position: absolute;
    bottom: 110px;
    left: -80px;
  }
  section {
    padding-inline: 2.2em 9em;
    margin-top: 0;
    gap: 1.5em;
  }
  section h1 {
    text-align: start;
  }
}
